<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop - Checkout</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Checkout</h1>
</div>

<div class="container">
    <div class="checkout-form-container">
        <div class="checkout-details">
            <p>Contents of your shopping cart:</p>
            <div class="cart-item" th:each="product : ${cartContent.products}" th:with="prod=${product}" style="max-width: 500px;">
                <div class="item-name" th:text="${prod.name}"></div>
                <div class="item-quantity" th:text="${prod.quantity}"></div>
                <div class="item-price" th:text="${prod.defaultPrice}"></div>
                <div class="productCurrency" th:text="${prod.defaultCurrency}"></div>
            </div>
            <table class="checkout-table">
                <tr>
                    <th>Item name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                <tr th:each="product : ${cartContent.products}" th:with="prod=${product} ">
                    <td th:text="${prod.name}"></td>
                    <td th:text="${prod.quantity}"></td>
                    <td th:text="${prod.defaultPrice}"></td>
                </tr>
            </table>
            <div class ="totalPrice" th:each="price : ${totalPrice.totalPrice}" th:with="pr=${price}">
                <div class="item-name">Total price: </div><div class="item-price" th:text="${pr}"></div>
            </div>
        </div>
        <form action="/payment" method="post" class="checkout-form">
                <label for="name">Name:</label>
                <input type="text" size="71" id="name" required="true"/>
                    <label for="email">E-mail address:</label>
                <input type="text" size="71" id="email" required="true"/>
                    <label for="phone">Phone number:</label>
                <input type="text" size="71" id="phone" required="true"/>
                    <label for="billing">Billing address:</label>
                <input type="text" size="71" id="billing" required="true"/>
                    <label for="shipping">Shipping address:</label>
                <input type="text" size="71" id="shipping" required="true"/>
                <input class="dropdown" type="submit" id="checkout" value="Proceed to payment"/>
        </form>
    </div>
    <div class="shopping-cart">
        <div class="dropdown" onclick="window.location = '/'">Back to the main page</div>
    </div>

</div>
<div th:replace="footer :: copy"></div>

</body>
</html>