<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>

<div class="container">
    <div class="filter_container">
        <!-- <div class="filter_title">Filter</div>     -->
        <div class="dropdown" onclick="window.location = '?supplier=Amazon'">Amazon products</div>
        <div class="dropdown" onclick="window.location = '?supplier=Lenovo'">Lenovo products</div>
        <div class="dropdown" onclick="window.location = '?category=tablet'">Show Tablets</div>
        <div class="dropdown" onclick="window.location = '?category=laptop'">Show Laptops</div>
        <div class="shopping-cart">
            <i class="fa fa-3x fa-shopping-cart" aria-hidden="true"></i>
        </div>
    </div>


    <div class="well well-sm">
        <div th:each="catName : ${categories}" th:with="item=${catName}">
        <strong th:text="${item.category.name}" >Category Title</strong>



    <div id="products" class="row list-group">

        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${item.products}" th:attr="data-cat=${prod.productCategory.name}">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#" th:attr="data-product_id=${prod.id}">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

</div>
<div class='cart-modal'>
    <div class="cart-header">
        <div class="cart-title">Your Shopping Cart</div>
        <div class="close-modal">X</div>
    </div>
    <div class="cart-item-container">
        <div class="cart-item">
            <div class="item-name">name</div>
            <div class="item-quantity">quantity: 99</div>
            <div class="item-price">price: 24$</div>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
        <div class="cart-item">
            <div class="item-name">name</div>
            <div class="item-quantity">quantity: 99</div>
            <div class="item-price">price: 24$</div>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
        <div class="cart-item">
            <div class="item-name">name</div>
            <div class="item-quantity">quantity: 99</div>
            <div class="item-price">price: 24$</div>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </div>
    <div class="checkout-container">
        <div class="checkout-button">
            Checkout
        </div>
        <div class="cart-total">
            Total: 99$
        </div>
    </div>

</div>

<div th:replace="footer :: copy"></div>

</body>
</html>