<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>dat shop, boyz</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>

    <div class='navbar'>
        <div class='logo'>git shop or git rekt, m8</div>
        <div class='account-container'>
            <i class="fa fa-user" aria-hidden="true"></i>
            <div class='cart-desc'>My account</div>
        </div>
        <div class='cart-container'>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <div class='cart-desc cart-content'>0 items</div>
        </div>

    </div>

    <!-- INFO BAR -->
    <div class='info-wrapper'>
        <div class='shipping-container'>
            <i class="fa fa-truck fa-2x "></i>
            <div class='info-desc'>Free shipping</div>
        </div>
        <div class='inventory-container'>
            <i class="fa fa-shopping-basket fa-2x "></i>
            <div class='info-desc'>Largest online inventory</div>
        </div>
    </div>

    <!-- MAIN WRAPPER -->
    <div class='main-wrapper'>
        <div class="menu">
            <div class='menu-item' data-title="Amazon">
                <div class='menu-item-title'>Amazon</div>
                <div class='menu-item-number'>13</div>
            </div>
            <div class='menu-item' data-title="Lenovo">
                <div class='menu-item-title'>Lenovo</div>
                <div class='menu-item-number'>88</div>
            </div>
            <div class='menu-item' data-title="HTC">
                <div class='menu-item-title HTC'>HTC</div>
                <div class='menu-item-number'>54</div>
            </div>
            <div class='menu-item' data-title="Cover-Your-Fur">
                <div class='menu-item-title'>Cover-Your-Fur Inc.</div>
                <div class='menu-item-number'>99</div>
            </div>
            <div class='menu-item' data-title="LG">
                <div class='menu-item-title'>LG</div>
                <div class='menu-item-number'>99</div>
            </div>
            <div class='menu-item' data-title="Apple">
                <div class='menu-item-title'>Apple</div>
                <div class='menu-item-number'>99</div>
            </div>
            <div class='menu-item' data-title="CornerVendor">
                <div class='menu-item-title'>Corner Vendor</div>
                <div class='menu-item-number'>99</div>
            </div>
            <div class='menu-item' data-title="StupidMemes">
                <div class='menu-item-title'>StupidMemes Limited</div>
                <div class='menu-item-number'>99</div>
            </div>
            <div class='menu-item' data-title="Pfizer">
                <div class='menu-item-title'>Pfizer</div>
                <div class='menu-item-number'>99</div>
            </div>
            <div class='menu-item All' data-title="All">
                <div class='menu-item-title'>All Products</div>
                <div class='menu-item-number'>99</div>
            </div>
        </div>

        <div class='products-container'>
            <div class='shop-card' th:each="product : ${products}" th:with="prod=${product}" th:attr="data-cat=${prod.productCategory.name}, data-sup=${prod.supplier.name}">
                <div class="title" th:text="${prod.name}">
                    Nike Metcon 2
                </div>
                <div class="desc" th:text="${prod.description}">
                    Men's training shoe
                </div>
                <div class="product">
                    <img src="http://placehold.it/350x200" th:attr="src='/img/product_' + ${prod.id} + '.jpg'"/>
                </div>
                <div class='cta'>
                    <div class="price" th:text="${prod.getPrice()}">$130</div>
                    <button class="button" th:attr="data-product_id=${prod.id}">Add to cart</button>
                </div>
            </div>
        </div>
    </div>

    <div class='cart-modal'>
        <div class="cart-header">
            <div class="cart-title">Your Shopping Cart</div>
            <div class="close-modal">X</div>
        </div>
        <div class="cart-item-container">

        </div>
        <div class="checkout-container">
            <div class="checkout-button">
                Checkout
            </div>
            <div class="cart-total">
                Total: 99$
            </div>
        </div>

    </div>

</body>
</html>