<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop - Payment</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/css/payment.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Payment</h1>
</div>
<div class="payment-radio-buttons"><p>You can choose from the following payment options: </p>
    <input id="hide-crcard-option" type="radio" name="payment-option" required=""/> Pay on delivery
    <input id="show-crcard-option" type="radio" name="payment-option"/> Pay now (by credit card)
</div>

<div class="container">
    <div id="crcard-dropdown" style="display: block">
        <div class="container">
            <div class="card__container">
                <div class="card">
                    <div class="row paypal">
                        <div class="left">
                            <input id="pp" type="radio" name="payment"/>
                            <div class="radio"></div>
                            <label id="ppal" for="pp">Paypal</label>
                        </div>
                        <div class="right">
                            <img src="http://i68.tinypic.com/2rwoj6s.png" alt="paypal"/>
                        </div>
                    </div>
                    <div class="row credit">
                        <div class="left">
                            <input id="cd" type="radio" name="payment"/>
                            <div class="radio"></div>
                            <label id="ccard" for="cd">Debit/ Credit Card</label>
                        </div>
                        <div class="right">
                            <img src="http://i66.tinypic.com/5knfq8.png" alt="visa"/>
                            <img src="http://i67.tinypic.com/14y4p1.png" alt="mastercard"/>
                            <img src="http://i63.tinypic.com/1572ot1.png" alt="amex"/>
                            <img src="http://i64.tinypic.com/2i92k4p.png" alt="maestro"/>
                        </div>
                    </div>
                    <div class="paypal-wrapper" style="height: 100%;">
                        <div class="row cardholder">
                            <div class="info">
                                <label for="cardholderemail">E-mail address:</label>
                                <input placeholder="e.g. jesuscondom@placeholder.com" id="cardholderemail" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="ccard-wrapper" style="height: 100%;">
                        <div class="row cardholder">
                            <div class="info">
                                <label for="cardholdername">Name</label>
                                <input placeholder="e.g. Mike Litoris" id="cardholdername" type="text"/>
                            </div>
                        </div>
                        <div class="row number">
                            <div class="info">
                                <label for="cardnumber">Card number</label>
                                <input id="cardnumber" type="text" pattern="[0-9]{16,19}" maxlength="19"
                                       placeholder="8888-8888-8888-8888"/>
                            </div>
                        </div>
                        <div class="row details">
                            <div class="left">
                                <label for="expiry-date">Expiry</label>
                                <select id="expiry-date">
                                    <option>MM</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <span>/</span>
                                <select id="expiry-date">
                                    <option>YYYY</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                </select>
                            </div>
                            <div class="right">
                                <label for="cvv">CVC/CVV</label>
                                <input type="text" maxlength="4" placeholder="123"/>
                                <span data-balloon-length="medium"
                                      data-balloon="The 3 or 4-digit number on the back of your card."
                                      data-balloon-pos="up">i</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit"><i class="ion-locked" onclick="window.location = '/paid'"></i> Confirm and Pay
                </button>
            </div>
        </div>
    </div>
    <div class="filter_container">
        <div class="shopping-cart">
            <div class="dropdown" onclick="window.location = '/checkout'">Back to checkout</div>
        </div>
    </div>

</div>

<div th:replace="footer :: copy"></div>
</body>
</html>