<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/register.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>

<div class="register-container">
	
	<div class="register-title">Register</div>

	<form action="/register" method="POST">      
		<input name="name" type="text" class="feedback-input" placeholder="Name" />   
		<input name="email" type="text" class="feedback-input" placeholder="Email" />
		<input name="username" type="text" class="feedback-input" placeholder="Username" />
		<input name="password" type="password" class="feedback-input" placeholder="Password" />
		<input name="address" type="text" class="feedback-input" placeholder="Address" />
		<input type="submit" value="SUBMIT"/>
	</form>
	<div class="or-login">or login...</div>
</div>

</body>
</html>